<div class='c-byline c-{{component}}__byline'>
  
{{#has author="Contributors"}}
      {{codeinjection_foot}}
    {{else}}

  {{#foreach authors}}
    <span class='{{#if @first}}u-hidden{{/if}} {{#if @last}}u-hidden{{/if}}'>,&nbsp;</span>
    <span class='u-hidden {{#if @last}}{{#unless @first}}u-block{{/unless}}{{/if}}'>&nbsp;and&nbsp;</span>
      {{name}} 
  {{/foreach}}
{{/has}}
      
</div>
