{{#foreach navigation}}
  <li class='c-nav__item c-nav__item--primary'>
    <a href='{{ url absolute='true' }}' class='c-nav__link {{#if current}} c-nav__link--current {{/if}}'>{{ label }}</a>
  </li>
{{/foreach}}