<div class='c-reading-time c-{{component}}__reading-time'>{{ reading_time minute=(t '1 min read') minutes=(t '% min read') }}
        &nbsp;|&nbsp;
        <A href="#comment-section"><img style="display: inline; vertical-align: middle;" src="{{ asset 'fonts/comment-icon.png' }}" width="13px" height="13px"></A>
        <span class="c-timestamp c-card__timestamp" data-cove-count-comments="{{id}}" data-translate-comment="" data-translate-comments=""></span>
</div>