{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#post}}
  <header class='c-page-header'>
    <div class='o-grid o-grid--2-columns'>
      <div>
        <h1 class='c-topper__headline u-font-headline u-font-family-sansSerif'>{{ title }}</h1>
      </div>
    </div>
  </header>
{{/post}}

<div class='js-grid o-grid o-grid--3-columns'>
  {{#get 'tags' limit='all'}}
    {{#foreach tags}}
      {{> card-tag }}
    {{/foreach}}
  {{/get}}
</div>