{{!< default}}

{{#contentFor 'title'}}{{t 'Page Not Found' }}{{/contentFor}}

<header class='c-page-header'>
  <div class='o-grid o-grid--2-columns'>
    <h1 class='c-topper__headline u-font-headline'>404</h1>
    <p class='c-topper__standfirst u-font-standfirst'>{{t 'Page Not Found' }}</p>
  </div>
</header>