// ------------------------------------
// Elements > hr
// ------------------------------------

hr {
  border: 0;
  height: auto;
  border-top: var(--border-width) var(--border-style) var(--color-border-secondary);
}