// ------------------------------------
// Components > Alert
// ------------------------------------

.c-alert {
  @include font($scale: 1, $weight: medium);

  margin-top: var(--space-16);

  &:empty {
    display: none;
  }

  &:before {
    @include font($weight: bold);

    margin-right: var(--space-8);
  }

  &--success:before {
    content: var(--html-symbol-checkmark);
  }

  &--error:before,
  &--invalid:before {
    content: var(--html-symbol-multiplication);
  }
}