// ------------------------------------
// Components > Announcement Bar
// ------------------------------------

.gh-announcement-bar-content p {
  font-size: 18px !important;
  font-family: var(--font-family-standfirst) !important;
  font-weight: var(--font-weight-normal) !important;
}
