// ------------------------------------
// Components > Button
// ------------------------------------

.c-btn {
  --focus-outline-offset: calc(var(--space-4) * -1);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.03em;

  height: auto;
  width: fit-content;
  min-width: fit-content;
  text-align: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: var(--space-8) var(--space-16);

  border-radius: 5px;
  color: var(--color-text-button);
  background-color: var(--color-background-button);
  transition: all 0.2s ease;

  @include attention() {
    color: var(--color-text-button-hover);
    background-color: var(--color-background-button-hover);
  }

  // Special styling for buttons in the paywall banner
  .u-color-background-secondary & {
    color: #000000;
    background-color: #FFDA72;

    @include attention() {
      color: #000000;
      background-color: darken(#FFDA72, 5%);
    }
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &--full {
    width: 100%;
  }

  &--small {
    font-size: 16px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    
    @include mq($until: tablet) {
      font-size: 14px;
    }
  }

  @include mq($until: tablet) {
    font-size: 14px;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--fit-content {
    width: fit-content;
  }

  &.loading,
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes spin {
      0%   { transform: rotate(0); }
      100% { transform: rotate(360deg); }
    }

    &:after {
      margin-left: var(--space-12);
      content: '';
      display: block;
      height: var(--space-16);
      width: var(--space-16);
      border-width: 1px;
      border-style: var(--border-style);
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--color-text-button);
      border-left-color: var(--color-text-button);
      border-radius: var(--border-radius-circle);
      animation: spin var(--motion-duration-slow) infinite linear;
    }

    @include attention() {
      &:after {
        border-bottom-color: var(--color-background-primary);
        border-left-color: var(--color-background-primary);
      }
    }
  }
}
