// ------------------------------------
// Components > Card Button / Editor
// ------------------------------------

.kg-button-card {
  display: flex;

  &.kg-align-center {
    justify-content: center;
  }

  &.kg-align-left {
    justify-content: start;
  }
}

.kg-btn,
.kg-btn-accent {
  @extend .c-btn;
}