// ------------------------------------
// Components > Card Gallery / Editor
// ------------------------------------

.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &:not(:first-of-type) {
    margin-top: var(--content-flow);
  }
}

.kg-gallery-image {
  background-color: var(--color-background-secondary);

  &:not(:first-of-type) {
    margin-left: var(--content-flow);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.kg-gallery-card {
  margin-bottom: calc(var(--content-flow) / 2);

  figcaption {
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: var(--space-8) var(--grid-margin) 0;
    color: var(--color-text-secondary);
    background-color: var(--color-background-primary);
    font-size: var(--font-size-scale-1);
    line-height: var(--line-height-scale-1);
    letter-spacing: var(--font-letter-spacing-long-primer);
  }
}
