// ------------------------------------
// Components > Card File / Editor
// ------------------------------------

.c-content .kg-file-card {
  a.kg-file-card-container {
    border: 0;
    transition: none;
    padding: var(--space-32);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 var(--border-width) var(--color-border-secondary);

    @include hover() {
      border: 0;
      box-shadow: inset 0 0 0 var(--space-2) var(--color-border-secondary);
    }
  }

  .kg-file-card-contents {
    margin: 0;
    margin-right: var(--space-8);

    > * + * {
      margin-top: var(--space-4);
    }
  }

  .kg-file-card-title {
    @include font($scale: 4, $weight: bold);
  }

  :is(.kg-file-card-caption, .kg-file-card-metadata, .kg-file-card-filename, .kg-file-card-filesize) {
    @include font($scale: 2, $weight: normal);
  }

  :is(.kg-file-card-caption, .kg-file-card-filesize) {
    opacity: 1;
  }

  .kg-file-card-metadata {
    color: var(--color-text-secondary);
  }

  .kg-file-card-icon svg {
    color: var(--color-text-primary);
  }
}