// ------------------------------------
// Components > Card General Style / Editor
// ------------------------------------

.kg-card figcaption {
  @include caption();
}

.kg-width-wide {
  width: 100%;

  @include mq($from: tablet) {
    width: calc(100vw - calc(var(--grid-margin) * 2));
    max-width: calc(var(--grid-width) - calc(var(--grid-margin-large) * 2));
  }
}

.kg-width-full {
  figcaption {
    padding-left: var(--space-16);
  }

  :is(video, .kg-image) {
    max-width: 100vw;
  }
}