// ------------------------------------
// Components > Section
// ------------------------------------

.c-section {
  margin-top: var(--space-64);

  &--editors-pick {
    padding-top: var(--space-32);
    padding-bottom: var(--space-32);
    background: var(--color-background-secondary);

    .c-byline {
      text-decoration: none;
      
      a {
        text-decoration: none !important;
        border-bottom: 0 !important;

        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }

  &--latest {
    .c-section-heading {
      border-bottom: 2px solid black;

      h2.c-section-heading {
        border-bottom: none;
        padding-bottom: 0;
        
        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 1.2;
        }
      }

      a {
        color: var(--ghost-accent-color);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s ease-in-out;
        padding-bottom: 4px;
        display: inline-block;

        @media (max-width: 768px) {
          font-size: 24px;
        }

        &:hover {
          border-bottom: 3px solid black;
        }
      }
    }
  }
}
