// ------------------------------------
// Components > Section Heading
// ------------------------------------

.c-section-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: var(--space-8);
  margin-bottom: var(--space-24);
  border-bottom: 2px solid var(--color-border-primary);
  @include font($family: sansSerif, $scale: 5, $line-height: 5);

  @include mq($from: tablet) {
    @include font($family: sansSerif, $scale: 7, $line-height: 7);
  }

  &__title {
    @include font($family: sansSerif, $scale: 5, $line-height: 5);

    @include mq($from: tablet) {
      @include font($family: sansSerif, $scale: 7, $line-height: 7);
    }
    text-transform: uppercase;

    a {
      @include link_underline_on_hover();
    }
  }

  &__title--small {
    @include font($scale: 3, $line-height: 4);
  }

  &__all {
    @include link_underline_on_hover();
    @include font($scale: 5, $weight: medium, $uppercase: true, $letter-spacing: brevier);
    color: var(--ghost-accent-color);

    @include mq($from: tablet) {
      @include font($scale: 7, $weight: medium, $uppercase: true, $letter-spacing: brevier);
    }
  }
}
