/*------------------------------------*\
  Components > Share Icons
\*------------------------------------*/

.c-share {
  display: flex;
  gap: var(--space-16);

  @include mq($until: tablet) {
    margin-top: var(--space-16);
    justify-content: flex-start;
  }

  @include mq($from: tablet) {
    margin-left: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-40);
    height: var(--space-40);
    border-radius: var(--border-radius-circle);

    // GhostFlow MH color: var(--color-text-secondary);
    color: whitesmoke;    

    background-color: var(--color-background-secondary);
    @include font($scale: 3, $weight: bold);

    @include attention() {
      .c-share__icon {
        fill: red;
      }
    }
  }

  &__icon {
    fill: white;
    // GhostFlow MH color: var(--color-text-secondary);
    color: whitesmoke;
  }

  &__item {
    // GhostFlow MH color: var(--color-text-secondary);
    color: whitesmoke;
  }
}