/*------------------------------------*\
  Components > Social Icons
\*------------------------------------*/

.c-social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-40);
    height: var(--space-40);
    border-radius: var(--border-radius-circle);

    // GhostFlow MH 
    color: var(--color-text-secondary);    

    background-color: var(--color-background-primary);
    @include font($scale: 3, $weight: bold);
  }

  &__icon {
    fill: whitesmoke;
  }
}