// ------------------------------------
// Components > Topper
// ------------------------------------

.c-topper {
  margin: 0 auto;
  margin-top: var(--space-40);
  padding: 0 var(--grid-margin);
  max-width: var(--content-width);
  margin-bottom: var(--space-32);
  text-align: center;

  &__content {
    > * + * {
      margin-top: var(--space-16);
    }
  }

  &__meta {
    margin-bottom: var(--space-16);
  }

  &__meta-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);
    @include font($scale: 2);
    color: var(--color-text);
    text-transform: uppercase;
    flex-wrap: nowrap;

    a {
      display: flex;
      align-items: center;
    }

    img {
      margin: 0;
    }

    .c-timestamp {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }

  &__bullet {
    color: inherit;
    line-height: 1;
  }

  &__paid {
    color: inherit;
  }

  &__headline {
    @include font($family: sansSerif, $scale: 8, $weight: regular);
    margin-bottom: var(--space-16);
    text-align: center;

    @include mq($from: desktop) {
      @include font($scale: 10, $line-height: 10, $weight: regular);
    }
  }

  &__sun {
    display: block;
    margin: var(--space-24) auto;
    width: 120px;
    height: 65px;
    aspect-ratio: 400/215;
    object-fit: contain;
  }

  &__standfirst {
    @include font($family: standfirst, $scale: 4, $line-height: 5, $weight: bold);
    margin-top: var(--space-24);
    text-align: left;

    @include mq($from: desktop) {
      @include font($scale: 5, $line-height: 6, $weight: bold);
    }
  }

  &__byline {
    display: inline-flex;
    align-items: center;
    
    a {
      color: inherit;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__timestamp {
    display: inline-flex;
    align-items: center;    
  }
}

.c-feature-image-figure {
  margin: var(--space-32) auto;
  max-width: 100%;
  
  img {
    width: 100%;
    height: auto;
  }
}

.c-feature-image-wrap {
  position: relative;
  width: 100%;
}

.c-feature-image-caption {
  margin-top: var(--space-8);
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  text-align: center;
}
