<div class="testimonials">
    <div class="quote">
        <p>"A deep dive of Sheffield related news and interest direct to your inbox - not sensational or click bait - just interesting local articles."</p>
        <div class="author">Harry, Tribune Subscriber</div>
    </div>

    <div class="quote">
        <p>"Well worth signing up! Best read about local issues.. really excellent journalism going on"</p>
        <div class="author">Caroline Burgin, Tribune Subscriber</div>
    </div>

    <div class="quote">
        <p>"The articles are so well researched, nuanced and interesting."</p>
        <div class="author">Kathryn Lord, Tribune Subscriber</div>
    </div>
</div>
