// ------------------------------------
// Tokens > Card Header / Editor
// ------------------------------------

:root {
  --color-headerCard-light: #FFF;
  --color-headerCard-dark: #000;

  // Style – Light
  --color-text-headerCardStyleLight: var(--color-headerCard-dark);
  --color-background-headerCardStyleLight: var(--color-headerCard-light);

  --color-text-button-headerCardStyleLight: var(--color-headerCard-light);
  --color-background-button-headerCardStyleLight: var(--color-headerCard-dark);
  --color-text-button-hover-headerCardStyleLight: var(--color-headerCard-light);
  --color-background-button-hover-headerCardStyleLight: var(--color-headerCard-dark);

  // Style – Dark
  --color-text-headerCardStyleDark: var(--color-headerCard-light);
  --color-background-headerCardStyleDark: var(--color-headerCard-dark);

  --color-text-button-headerCardStyleDark: var(--color-headerCard-dark);
  --color-background-button-headerCardStyleDark: var(--color-headerCard-light);
  --color-text-button-hover-headerCardStyleDark: var(--color-headerCard-dark);
  --color-background-button-hover-headerCardStyleDark: var(--color-headerCard-light);

  // Style – Accent
  --color-text-headerCardStyleAccent: var(--color-background-primary);
  --color-background-headerCardStyleAccent: var(--color-accent);

  --color-text-button-headerCardStyleAccent: var(--color-text-primary);
  --color-background-button-headerCardStyleAccent: var(--color-background-primary);
  --color-text-button-hover-headerCardStyleAccent: var(--color-text-primary);
  --color-background-button-hover-headerCardStyleAccent: var(--color-background-primary);

  // Style – Image
  --color-text-headerCardStyleImage: var(--color-headerCard-light);
  --color-background-headerCardStyleImage: var(--color-headerCard-dark);

  --color-text-button-headerCardStyleImage: var(--color-headerCard-light);
  --color-background-button-headerCardStyleImage: var(--color-headerCard-dark);
  --color-text-button-hover-headerCardStyleImage: var(--color-headerCard-dark);
  --color-background-button-hover-headerCardStyleImage: var(--color-headerCard-light);
}