// ------------------------------------
//  Settings > Colors
// ------------------------------------

:root {
  --color-mode: 'light';
  --color-accent: var(--ghost-accent-color);
  --color-text-primary: #000000;
  --color-text-secondary: #4E5965;
  --color-border-primary: #000000;
  --color-border-secondary: #D9D9D9;
  --color-background-primary: #F9F3E0;
  --color-background-secondary: #E74C4A;
  --color-white: #FFFFFF; // New variable for white color
}