// ------------------------------------
// Tokens > Grid
// ------------------------------------

:root {
  --grid-width: 1400px;
  --grid-gap: var(--space-32);
  --grid-margin: var(--space-20);
  --grid-margin-large: var(--space-32);
}