// ------------------------------------
// Tokens > HTML Symbols
// ------------------------------------

:root {
  --html-symbol-dark: '☾';
  --html-symbol-light: '☼';
  --html-symbol-em-dash: '—';
  --html-symbol-checkmark: '✓';
  --html-symbol-multiplication: '✕';
}