// ------------------------------------
// Tokens > Space
// ------------------------------------

// 8 Point Grid System
// Tripoli is using a `8 Point Grid System` for consisting spacing

:root {
  --space-2:     2px;
  --space-4:     4px;
  --space-8:     8px;
  --space-12:   12px;
  --space-16:   16px;
  --space-20:   20px;
  --space-24:   24px;
  --space-32:   32px;
  --space-40:   40px;
  --space-48:   48px;
  --space-56:   56px;
  --space-64:   64px;
  --space-80:   80px;
  --space-96:   96px;
  --space-128: 128px;
  --space-160: 160px;
  --space-168: 168px;
}