// ------------------------------------
// Trumbs > Flex
// ------------------------------------

.u-flex {
  display: flex;
}

.u-align-items-center {
  align-items: center;
}

.u-gap-8 {
  gap: var(--space-8);
}