// ------------------------------------
// Trumbs > Spacing
// ------------------------------------

.u-mt-8 {
  margin-top: var(--space-8);
}

.u-mr-8 {
  margin-right: var(--space-8);
}

.u-mt-16 {
  margin-top: var(--space-16);
}

.u-mb-16 {
  margin-bottom: var(--space-16);
}

.u-p-32 {
  padding: var(--space-32);
}