// ------------------------------------
// Trumbs > Visibility
// ------------------------------------

.u-hidden {
  display: none;
}

.u-block {
  display: block;
}

.u-screenreader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.u-visible-on-desktop {
  @include mq($until: desktop) {
    display: none !important;
  }
}